
/* STORY-SECTION */

.story {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 1110px;
  margin: 0 auto;
}
.our-story-top {
  padding-top: 110px;
  padding-bottom: 58px;
  max-width: 600px;
}
.our-story-top :nth-child(1) {
  font-family: var(--secondary-font-family);
  font-weight: 700;
  font-size: 60px;
  line-height: 65px;
  text-align: center;
}
.our-story-top :nth-child(2) {
  font-family: var(--secondary-font-family);
  font-weight: 400;
  font-size: 19px;
  line-height: 32px;
  text-align: center;
  opacity: 70%;
  gap: 44px;
}
.story-img {
  padding-bottom: 140px;
}
.our-story-bottom {
  display: flex;
  justify-content: space-around;
  gap: 121px;
  align-items: center;
  padding-bottom: 86px;
}
.our-story-bottom :nth-child(1) {
  font-weight: 700;
  font-size: 48px;
  line-height: 58px;
  color: var(--primary-text-color);
  font-family: var(--secondary-font-family);
}
.our-story-bottom :nth-child(2) {
  font-weight: 400;
  font-size: 19px;
  line-height: 32px;
  color: var(--primary-text-color);
  opacity: 70%;
  font-family: var(--secondary-font-family);
}
/* ABOUT SECTION */
.about {
  display: flex;
  gap: 95px;
  background-color: var(--secondary-bacgroundcolor);
  justify-content: center;
  padding-bottom: 140px;
  padding-top: 140px;
}
.about-imgs {
  display: flex;
  gap: 12px;
}
.about-imgs > .about-img-column:nth-child(2) {
  padding-top: 42px;
}
.about-img-column {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.about-p {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 39px;
  width: 495px;
}
.about-p :nth-child(1) {
  font-weight: 700;
  font-size: 48px;
  line-height: 58px;
  color: var(--primary-text-color);
  font-family: var(--secondary-font-family);
}
.about-p :nth-child(2) {
  font-weight: 400;
  font-size: 19px;
  line-height: 32px;
  opacity: 70%;
  color: var(--primary-text-color);
  font-family: var(--secondary-font-family);
}

/* TEAM SECTION */
.team {
  display: flex;
  flex-direction: column;
  gap: 68px;
  align-items: center;
  padding-top: 107px;
  padding-bottom: 179px;
}
.team-p {
  width: 660px;
  text-align: center;
}
.team-p > h4{
  font-weight: 700;
  font-size: 48px;
  line-height: 58px;
  color: var(--primary-text-color);
  font-family: var(--secondary-font-family);
}
.team-p > p {
  font-weight: 400;
  font-size: 19px;
  line-height: 32px;
  opacity: 70%;
  color: var(--primary-text-color);
  font-family: var(--secondary-font-family);
}
.team-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  flex-shrink: 1;
}
.team-card {
  width: 267px;
}
.team-card > .team-title :nth-child(1) {
  font-weight: 700;
  font-size: 21px;
  line-height: 32px;
  font-family: var(--secondary-font-family);
}
.team-card > .team-title :nth-child(2) {
  font-weight: 400;
  font-size: 17px;
  line-height: 29px;
  font-family: var(--secondary-font-family);
  opacity: 70%;
}

