.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--home-color);
    padding-top: 21px;
}

.nav-left {
    display: flex;
    justify-content: center;
    margin-left: 251px;
}

.nav-left h1 {
    font-family: 'Rubik', sans-serif;
    font-weight: 700;
    font-size: 28px;
    line-height: 28px;
    letter-spacing: -0.16px;
    color: var(--namecolor-primary);
}



.nav-center nav ul {
    display: flex;
    justify-content: center;
    gap: 20px;
    list-style: none;
}

.nav-center nav ul li a {
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 15px;
    line-height: 26px;
    letter-spacing: -0.1px;
    text-align: center;
    color: var(--namecolor-primary);
    transition: color 0.3s;
}


.nav-center nav ul li a:hover {
    color: #fb6d45;
}

.nav-right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 194px;
}

.navbar {
    display: flex;
    gap: 45px;
}

.navbar a {
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 15px;
    line-height: 26px;
    letter-spacing: -0.1px;
    text-align: right;
    color: var(--namecolor-primary);
    transition: color 0.3s;
}

.navbar a:hover {
    color: #FB6D45;
}








.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 23px;
    background-color: var(--home-color);
}

.hero-content {
    margin-top: 175px;
    margin-left: 200px;
    margin-bottom: 130px;
    padding-right: 150px;
    padding-bottom: 90px;
    max-width: 518px;
}



.hero-title {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 60px;
    line-height: 65px;
    letter-spacing: -2px;
    color: var(--namecolor-primary);
    margin-bottom: 21px;
    white-space: normal;
    max-width: 340px;
}


.typing {
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    animation: typing 2s steps(13, end),
        blink 0.7s step-end infinite,
        erase 2s steps(13, end) 1.5s infinite;
}

@keyframes typing {
    from {
        width: 0;
    }

    to {
        width: 11ch;
    }

}

@keyframes erase {
    from {
        width: 11ch;
    }

    to {
        width: 0;
    }
}

.hero-text {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 19px;
    line-height: 32px;
    letter-spacing: -0.2px;
    color: var(--namecolor-secondary);
    white-space: normal;
    opacity: 0.7;
}

.hero-image img {

    width: 100%;
    max-width: 600px;
    height: auto;
    display: block;
}


.big-companies {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 114px;
    gap: 30px;
    margin-bottom: 125px;
}


.big-companies h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 48px;
    letter-spacing: -1.2px;
    text-align: center;
    color: var(--namecolor-primary);
}


.big-companies p {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 19px;
    line-height: 32px;
    letter-spacing: -0.2px;
    text-align: center;
    opacity: 0.7;
    color: var(--namecolor-primary);
    margin-bottom: 30px;
    max-width: 670px;
}

.main-logo {
    display: grid;
    grid-template-columns: repeat(4, 128px);
    grid-template-rows: auto auto;
    justify-content: center;
    gap: 70px;
}

.main-logo img:nth-child(5) {
    grid-column: 2;
    grid-row: 2;
}

.main-logo img:nth-child(6) {
    grid-column: 3;
    grid-row: 2;
}


.jobs-section {
    background-color: #161C2D;
}

.jobs-header {
    display: flex;
    flex-direction: column;
    margin-left: 251px;
    margin-bottom: 65px;
    padding-top: 132px;
    gap: 20px;
    max-width: 390px;
}

.jobs-header h3 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 48px;
    letter-spacing: -1.2px;
    color: #FFFFFF;
}

.jobs-header p {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 19px;
    line-height: 32px;
    letter-spacing: -0.2px;
    color: #FFFFFF;
    opacity: 0.65;
}


.job-categories {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-left: 251px;
    margin-right: 239px;
    padding-bottom: 144px;
    gap: 30px;
    justify-items: center;
}

.job-card {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding-left: 32px;
    padding-top: 26px;
    padding-bottom: 28px;
    background-color: #FFFFFF;
    border-radius: 10px;
    width: 100%;
    max-width: 350px;
    transition: all 0.3s ease;
    cursor: pointer;
}

.job-card:hover {
    background-color: var(--btn-color);
    transform: translateY(-5px);
    box-shadow: 0px 34px 33px -23px var(--btn-color);
}

.job-card h3 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 21px;
    line-height: 32px;
    letter-spacing: -0.5px;
    color: var(--namecolor-primary);
}

.job-card:hover h3 {
    color: #ffffff;
}

.job-card p {

    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 26px;
    letter-spacing: -0.1px;
    color: var(--namecolor-primary);
    opacity: 0.7;
}

.job-card:hover p {
    color: #ffffff;
}

@media (max-width: 900px) {
    .job-categories {
        grid-template-columns: repeat(2, 1fr);
        margin-left: auto;
        margin-right: auto;
        gap: 20px;
    }
}

@media (max-width: 600px) {
    .job-categories {
        grid-template-columns: 1fr;
        margin-left: auto;
        margin-right: auto;
        gap: 15px;
    }
}




.easy-steps {
    margin-top: 133px;
    border: 1px solid #E7E9ED
}

.steps-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 96px;
    gap: 17px;
}

.steps-header h4 {
    font-family: Roboto;
    font-weight: 700;
    font-size: 36px;
    leading-trim: NONE;
    line-height: 48px;
    letter-spacing: -1.2px;
    text-align: center;
    color: var(--namecolor-primary);
}

.steps-header p {
    font-family: Roboto;
    font-weight: 400;
    font-size: 19px;
    leading-trim: NONE;
    line-height: 32px;
    letter-spacing: -0.2px;
    text-align: center;
    opacity: 0.7;
    color: var(--namecolor-primary);
    max-width: 589px;
}



.steps-content {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 69px;
    margin-bottom: 118px;
}

.steps-image {
    position: relative;
}

.steps-image .main-img {
    width: 100%;
    height: 100%;
    display: block;
    position: relative;
    z-index: 2;
    animation: float 2s ease-in-out infinite;
}

.steps-image .shadow {
    position: absolute;
    width: 397px;
    height: 547px;
    top: 10%;
    left: 20%;
    background-color: #68D585;
    border-radius: 10px;
    opacity: 0.1;
    z-index: 1;
    animation: float 2s ease-in-out infinite;
}

.status-tag {
    position: absolute;
    bottom: 139px;
    right: 191px;
    width: 351px;
    height: 91px;
    padding: 18px 25px;
    background-color: var(--namecolor-primary);
    border-radius: 10px;
    display: flex;
    align-items: center;
    gap: 15px;
    z-index: 3;
    animation: float 2s ease-in-out infinite;
}

.status-text {
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    margin-left: 55px;
}

.title {
    font-family: Roboto;
    font-weight: 400;
    font-size: 15px;
    line-height: 26px;
    letter-spacing: -0.1px;
    opacity: 0.7;
}

.subtitle {
    display: flex;
    align-items: center;
    font-family: Roboto;
    font-weight: 700;
    font-size: 17px;
    line-height: 29px;
    letter-spacing: -0.2px;

}

.back-icon {
    width: 39px;
    height: 39px;
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 4;
}

.call-icon {
    width: 17px;
    height: 17px;
    position: absolute;
    left: 32px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 5;
}

@keyframes float {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-50px);
    }
}


.steps-info {
    display: flex;
    flex-direction: column;
    gap: 50px;
    width: 32%;
    margin-top: 86px;
}

.step-item {
    display: flex;
    align-items: center;
    background: #fff;
    gap: 22px;

}

.step-text {
    gap: 10px;
}

.step-item img {
    display: block;
    margin-top: -28px;
}





.step-item h4 {
    font-family: Roboto;
    font-weight: 700;
    font-size: 21px;
    line-height: 32px;
    letter-spacing: -0.5px;
    color: var(--namecolor-primary);
}

.step-item p {
    font-family: Roboto;
    font-weight: 400;
    font-size: 17px;
    line-height: 29px;
    letter-spacing: -0.2px;
    color: var(--namecolor-primary);
    opacity: 0.7;
}




.main-content {
    position: relative;
    padding: 107px 245px 141px 245px;
}

.main-content::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('../../images/wave.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.03;
    z-index: -1;
}



.featured-jobs-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-text {
    display: flex;
    flex-direction: column;
    gap: 17px;
    width: 32%;
}

.header-text h5 {
    font-family: Roboto;
    font-weight: 700;
    font-size: 36px;
    line-height: 48px;
    letter-spacing: -1.2px;
    color: var(--namecolor-primary);
}

.header-text p {
    font-family: Roboto;
    font-weight: 400;
    font-size: 19px;
    line-height: 32px;
    letter-spacing: -0.2px;
    opacity: 0.7;
    color: var(--namecolor-primary);
}

.header-img img {
    width: 79px;
    height: 44px;
}

.job-cards {
    display: flex;
    gap: 30px;
    margin-top: 84px;
}

.card {
    width: 255px;
    height: 279px;
    padding: 26px 32px 28px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #FFFFFF;
    border: 1px solid #E7E9ED;
    transition: box-shadow 0.25s ease;
    cursor: pointer;
}

.card:hover {
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25);
}

.card-info {
    display: flex;
    flex-direction: column;
    gap: 17px;
}

.card-info h5 {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 21px;
    line-height: 32px;
    letter-spacing: -0.5px;
    color: var(--namecolor-primary);
}

.card-info p {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 26px;
    letter-spacing: -0.1px;
    opacity: 0.7;
    color: var(--namecolor-primary);
}

.company {
    display: flex;
    align-items: center;
    gap: 8px;
}

.company p {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 19px;
    line-height: 32px;
    letter-spacing: -0.2px;
}

.company img {
    width: 32px;
    height: 33px;
}

.card-info .status {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 13px;
    line-height: 1.2;
    letter-spacing: 1.63px;
    text-transform: uppercase;
}


.status.full-time {
    color: #68D585;
}

.status.remote {
    color: #473BF0;
}

.status.part-time {
    color: #F64B4B;
}


.news-wrapper {
    padding-top: 97px;
    padding-bottom: 140px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 74px;
    background-color: var(--background-color);
}

.news-header {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 17px;
    width: 35%;
}

.news-header h6 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 48px;
    letter-spacing: -1.2px;
    text-align: center;
    color: var(--namecolor-primary);
}

.news-header p {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 19px;
    line-height: 32px;
    letter-spacing: -0.2px;
    opacity: 0.7;
    text-align: center;
    color: var(--namecolor-primary);
}

.news-cards {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}

.news-card {
    background-color: #FFFFFF;
    border-radius: 10px;
    width: 350px;
    height: 450px;
    display: flex;
    flex-direction: column;
    transition: box-shadow 0.25s ease;
    cursor: pointer;
    overflow: hidden;
}

.news-card:hover {
    box-shadow: 0 8px 20px rgba(22, 28, 45, 0.4);
}

.news-card img {
    border: 1px solid #E7E9ED;
    width: 350px;
    height: 301px;
}

.news-card .category {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 26px;
    letter-spacing: -0.1px;
    opacity: 0.7;
    color: var(--namecolor-primary);
}

.news-card h6 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 21px;
    line-height: 32px;
    letter-spacing: -0.5px;
    color: var(--namecolor-primary);
}

.news-text {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 22px;
    margin-left: 32px;
    margin-right: 32px;
}



.subscribe-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    width: 33%;
    margin: 120px auto;
    text-align: center;
}



.sub-img {
    width: 78px;
    height: 78px;
}

.sub-text {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.sub-title {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 48px;
    letter-spacing: -1.2px;
    text-align: center;
    color: var(--namecolor-primary);
}

.sub-desc {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 19px;
    line-height: 32px;
    letter-spacing: -0.2px;
    text-align: center;
    opacity: 0.7;
    color: var(--namecolor-primary);

}

.input-wrapper {
    position: relative;
    width: 100%;
}

.input-wrapper input {
    padding-left: 19px;
    width: 100%;
    height: 64px;
    border: 1px solid #E7E9ED;
    border-radius: 8px;
    outline: none;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    letter-spacing: -0.18px;
}

.input-wrapper button {
    position: absolute;
    right: 6px;
    top: 50%;
    transform: translateY(-50%);
    width: 166px;
    height: 50px;
    padding: 0 18px;
    background: #473BF0;
    color: #FFFFFF;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 17px;
    line-height: 32px;
    letter-spacing: -0.6px;
    text-align: center;

}

.privacy {
    color: var(--namecolor-primary);
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 26px;
    letter-spacing: -0.1px;
    text-align: center;
    opacity: 0.7;

}





.footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background-color: #161C2D;
    padding: 122px 245px 0 245px;
}

.footer__brand {
    display: flex;
    flex-direction: column;
    color: #FFFFFF;
    margin-right: 101px;
    margin-bottom: 165px;
}

.footer__brand h3 {
    font-family: 'Rubik', sans-serif;
    font-weight: 700;
    font-size: 28px;
    line-height: 100%;
    letter-spacing: -0.16px;
    color: #FFFFFF;
    padding-bottom: 36px;
    padding-right: 95px;
}

.footer__brand p {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 26px;
    letter-spacing: -0.1px;
    color: #FFFFFF;
    opacity: 0.65;
    transform: rotate(0deg);
    padding-bottom: 44px;
}

.footer__socials {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 24px;
}

.footer__nav {
    display: flex;
    flex-direction: row;
    gap: 52px;
}



.footer__company h3 {
    padding-bottom: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 26px;
    letter-spacing: -0.1px;
    color: #FFFFFF;
    opacity: 0.65;
}

.footer__company ul {
    list-style: none;
}

.footer__company ul li a {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 17px;
    line-height: 40px;
    letter-spacing: -0.2px;
    color: #FFFFFF;
    text-decoration: none;
    white-space: nowrap;
}



.footer__product h3 {
    padding-bottom: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 26px;
    letter-spacing: -0.1px;
    color: #FFFFFF;
    opacity: 0.65;
}

.footer__product ul {
    list-style: none;
}

.footer__product ul li a {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 17px;
    line-height: 40px;
    letter-spacing: -0.2px;
    color: #FFFFFF;
    text-decoration: none;
}



.footer__services h3 {
    padding-bottom: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 26px;
    letter-spacing: -0.1px;
    color: #FFFFFF;
    opacity: 0.65;
}

.footer__services ul {
    list-style: none;
}

.footer__services ul li a {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 17px;
    line-height: 40px;
    letter-spacing: -0.2px;
    color: #FFFFFF;
    text-decoration: none;
}

.footer-list h3 {
    padding-bottom: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 26px;
    letter-spacing: -0.1px;
    color: #FFFFFF;
    opacity: 0.65;
}

.footer__list ul {
    list-style: none;
}

.footer-list ul li a {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 17px;
    line-height: 40px;
    letter-spacing: -0.2px;
    color: #FFFFFF;
    text-decoration: none;
}