.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--home-color);
    padding-top: 21px;
}

.nav-left {
    display: flex;
    justify-content: center;
    margin-left: 251px;
}

.nav-left h1 {
    font-family: 'Rubik', sans-serif;
    font-weight: 700;
    font-size: 28px;
    line-height: 28px;
    letter-spacing: -0.16px;
    color: var(--namecolor-primary);
}



.nav-center nav ul {
    display: flex;
    justify-content: center;
    gap: 20px;
    list-style: none;
}

.nav-center nav ul li a {
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 15px;
    line-height: 26px;
    letter-spacing: -0.1px;
    text-align: center;
    color: var(--namecolor-primary);
    transition: color 0.3s;
}

.nav-center nav ul li:first-child a {
    color: #FB6D45;
}

.nav-center nav ul li a:hover {
    color: #fb6d45;
}

.nav-right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 194px;
}

.navbar {
    display: flex;
    gap: 45px;
}

.navbar a {
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 15px;
    line-height: 26px;
    letter-spacing: -0.1px;
    text-align: right;
    color: var(--namecolor-primary);
    transition: color 0.3s;
}

.navbar a:hover {
    color: #FB6D45;
}








.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 23px;
    background-color: var(--home-color);
}

.hero-content {
    margin-top: 175px;
    margin-left: 200px;
    margin-bottom: 130px;
    padding-right: 150px;
    padding-bottom: 90px;
    max-width: 518px;
}



.hero-title {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 60px;
    line-height: 65px;
    letter-spacing: -2px;
    color: var(--namecolor-primary);
    margin-bottom: 21px;
    white-space: normal;
    max-width: 340px;
}


.typing {
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    animation: typing 2s steps(13, end),
        blink 0.7s step-end infinite,
        erase 2s steps(13, end) 1.5s infinite;
}

@keyframes typing {
    from {
        width: 0;
    }

    to {
        width: 11ch;
    }

}

@keyframes erase {
    from {
        width: 11ch;
    }

    to {
        width: 0;
    }
}

.hero-text {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 19px;
    line-height: 32px;
    letter-spacing: -0.2px;
    color: var(--namecolor-secondary);
    white-space: normal;
    opacity: 0.7;
}

.hero-image img {

    width: 100%;
    max-width: 600px;
    height: auto;
    display: block;
}


.big-companies {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 114px;
    gap: 30px;
    margin-bottom: 125px;
}


.big-companies h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 48px;
    letter-spacing: -1.2px;
    text-align: center;
    color: var(--namecolor-primary);
}


.big-companies p {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 19px;
    line-height: 32px;
    letter-spacing: -0.2px;
    text-align: center;
    opacity: 0.7;
    color: var(--namecolor-primary);
    margin-bottom: 30px;
    max-width: 670px;
}

.main-logo {
    display: grid;
    grid-template-columns: repeat(4, 128px);
    grid-template-rows: auto auto;
    justify-content: center;
    gap: 70px;
}

.main-logo img:nth-child(5) {
    grid-column: 2;
    grid-row: 2;
}

.main-logo img:nth-child(6) {
    grid-column: 3;
    grid-row: 2;
}


.jobs-section {
    background-color: #161C2D;
}

.jobs-header {
    display: flex;
    flex-direction: column;
    margin-left: 251px;
    margin-bottom: 65px;
    padding-top: 132px;
    gap: 20px;
    max-width: 390px;
}

.jobs-header h3 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 48px;
    letter-spacing: -1.2px;
    color: #FFFFFF;
}

.jobs-header p {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 19px;
    line-height: 32px;
    letter-spacing: -0.2px;
    color: #FFFFFF;
    opacity: 0.65;
}


.job-categories {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-left: 251px;
    margin-right: 239px;
    padding-bottom: 144px;
    gap: 30px;
    justify-items: center;
}

.job-card {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding-left: 32px;
    padding-top: 26px;
    padding-bottom: 28px;
    background-color: #FFFFFF;
    border-radius: 10px;
    width: 100%;
    max-width: 350px;
    transition: all 0.3s ease;
    cursor: pointer;
}

.job-card:hover {
    background-color: var(--btn-color);
    transform: translateY(-5px);
    box-shadow: 0px 34px 33px -23px var(--btn-color);
}

.job-card h3 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 21px;
    line-height: 32px;
    letter-spacing: -0.5px;
    color: var(--namecolor-primary);
}

.job-card:hover h3 {
    color: #ffffff;
}

.job-card p {

    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 26px;
    letter-spacing: -0.1px;
    color: var(--namecolor-primary);
    opacity: 0.7;
}

.job-card:hover p {
    color: #ffffff;
}

@media (max-width: 900px) {
    .job-categories {
        grid-template-columns: repeat(2, 1fr);
        margin-left: auto;
        margin-right: auto;
        gap: 20px;
    }
}

@media (max-width: 600px) {
    .job-categories {
        grid-template-columns: 1fr;
        margin-left: auto;
        margin-right: auto;
        gap: 15px;
    }
}




.easy-steps {
    margin-top: 133px;
}

.steps-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 96px;
    gap: 17px;
}

.steps-header h4 {
    font-family: Roboto;
    font-weight: 700;
    font-size: 36px;
    leading-trim: NONE;
    line-height: 48px;
    letter-spacing: -1.2px;
    text-align: center;
    color: var(--namecolor-primary);
}

.steps-header p {
    font-family: Roboto;
    font-weight: 400;
    font-size: 19px;
    leading-trim: NONE;
    line-height: 32px;
    letter-spacing: -0.2px;
    text-align: center;
    opacity: 0.7;
    color: var(--namecolor-primary);
    max-width: 589px;
}



.steps-content {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 69px;
    margin-bottom: 118px;
}

.steps-image {
    position: relative;
    /* width: 425px; */
    /* height: 571px; */
}

.steps-image .main-img {
    width: 100%;
    height: 100%;
    display: block;
    position: relative;
    z-index: 2;
    animation: float 2.5s ease-in-out infinite;
}

.steps-image .shadow {
    position: absolute;
    width: 397px;
    height: 547px;
    top: 10%;
    left: 20%;
    background-color: #68D585;
    border-radius: 10px;
    opacity: 0.1;
    z-index: 1;
    animation: float 2.5s ease-in-out infinite;
}

.status-tag {
    position: absolute;
    bottom: 139px;
    right: 191px;
    width: 351px;
    height: 91px;
    padding: 18px 25px;
    background: #0B1221;
    border-radius: 10px;
    display: flex;
    align-items: center;
    gap: 15px;
    z-index: 3;
    animation: float 2.5s ease-in-out infinite;
}

/* .status-text {
    color: #FFFFFF;
    font-size: 16px;
    line-height: 20px;
    margin-left: 55px;
} */

/* .back-icon {
    width: 39px;
    height: 39px;
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 4;
} */

/* .call-icon {
    width: 17px;
    height: 17px;
    position: absolute;
    left: 32px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 5;
} */

@keyframes float {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-20px);
    }
}

/* .steps-info {
    display: flex;
    flex-direction: column;
    gap: 30px;
} */

/* .step-item {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
} */